@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TiltNeon';
  src: url('../public/fonts/TiltNeon-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'TiltNeon', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
