@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TiltNeon';
  src: url('../public/fonts/TiltNeon-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'TiltNeon', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222324;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  :root {
    --maxion-color: #ffcb08;
  }
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 30px;
  padding: 1em;
  position: relative;
  margin-bottom: 0.25em;
  vertical-align: top;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  animation: spinLoading 2s linear infinite;
}

.loader:before {
  transform: rotateX(70deg);
}

.loader:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes spinLoading {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px var(--maxion-color);
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 var(--maxion-color);
  }
  25% {
    box-shadow: 0 0.2em 0 0px var(--maxion-color);
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 var(--maxion-color);
  }
  50% {
    box-shadow: -0.2em 0 0 0 var(--maxion-color);
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 var(--maxion-color);
  }
  75% {
    box-shadow: 0px -0.2em 0 0 var(--maxion-color);
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 var(--maxion-color);
  }
}
